@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  /* Primary colors */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral Colors */

  /* paragraphs */
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  /* background, headings, buttons */
  --very-light-gray: hsl(0, 0%, 95%);

  /* Fonts */
  --lexend-deca: "Lexend Deca", sans-serif;
  --big-shoulders: "Big Shoulders", sans-serif;
}

/* .lexend-deca-<uniquifier> {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  } */

/* .big-shoulders-<uniquifier> {
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

body {
  font-size: 15px;
  display: grid;
  place-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h2 {
  font-family: var(--big-shoulders);
  font-size: 2.5rem;
  margin: 2rem 0;
}

.car-container {
  border-radius: 0.5rem;
  display: flex;
  /* width: 1400px;
  height: 700px; */
  max-width: 1345px;
  width: 80%;
  min-height: 600px;
  overflow: hidden;
}

.car-container > :nth-child(1) {
  background-color: var(--bright-orange);
}

.car-container > :nth-child(1) button {
  color: var(--bright-orange);
}

.car-container > :nth-child(1) button:hover {
  border: 2px solid white;
  background-color: var(--bright-orange);
  color: white;
}

.car-container > :nth-child(2) {
  background-color: var(--dark-cyan);
}

.car-container > :nth-child(2) button {
  color: var(--dark-cyan);
}

.car-container > :nth-child(2) button:hover {
  border: 2px solid white;
  background-color: var(--dark-cyan);
  color: white;
}

.car-container > :nth-child(3) {
  background-color: var(--very-dark-cyan);
}

.car-container > :nth-child(3) button {
  color: var(--very-dark-cyan);
}

.car-container > :nth-child(3) button:hover {
  border: 2px solid white;
  background-color: var(--very-dark-cyan);
  color: white;
}

.car-column {
  display: flex;
  flex-direction: column;
  padding: 3rem 2.5rem;
}

.car-column h2 {
  color: var(--very-light-gray);
}

.car-column p {
  color: var(--transparent-white);
  margin-bottom: 2rem;
  font-size: 1.2rem;
  width: 80%;
  line-height: 35px;
}

.car-column button {
  background: none;
  border: none;
  font-family: var(--lexend-deca);
  background-color: var(--very-light-gray);
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  max-width: 173px;
  font-size: 1.1rem;
  margin-top: auto;
}

.car-column button:hover {
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1200px){
  .car-column p {
    font-size: 1rem;
    width: 100%;
  }
}

@media screen and (max-width: 900px){
  .car-column p {
    margin-bottom: 1rem;
    line-height: 26px;
  }

  .car-column h2 {
    font-size: 2.2rem;
    margin: 1.5rem 0;
  }

  .car-column button {
    font-size: 1rem;
    padding: .8rem 0.5rem;
  }
}

@media screen and (max-width: 760px){
  body {
    min-height: 100vh;
    height: 180vh;
  }

  .car-container{
    flex-direction: column;
    width: 90%;
    min-height: 100vh;
  }
}

@media screen and (max-width: 380px){
  body {
    height: 190vh;
  }

  .car-column button {
    width: 125px;
  }
}

@media screen and (max-width: 375px){
  body {
    height: 220vh;
  }
}
